<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width" />
    <title>Pictourist | @ViewBag.Title</title>
</head>
<body>
    <div id="header">
        <a href="/Home/Index">Главная</a> | 
        <a href="/Home/About">О проекте</a> |
        
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Users/Index">Другие пользователи сайта</a>
            <a href="/Account/ChangePassword" id="changePasswordUser">Изменить пароль</a>
            <div id="uAreLoginedAsText">Вы вошли как @User.Identity.Name</div>

            <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" id="exitButton" value="Выход" />
            </form>

            if (User.IsInRole("Admin"))
            {
                <a href="/Admin" id="adminPanel">Админ-панель</a>;
            }
        }
        else
        {
            <span> | </span>
            <a href="/Account/Register">Регистрация</a>
            <span> | </span>
            <a href="/Account/Login">Войти</a>
        }
    </div>

    <h1>Pictourist</h1>
    <h2>@ViewBag.Title</h2>
    <div>
        @RenderBody()
    </div>

    <footer>
        <p>Pictourist since 2023.</p>
    </footer>
</body>
</html>